prowJobNamespace: "prow" # Namespace in which to post the created ProwJobs
podNamespace: "test-pods" # Namespace in which to run test pods

github:
  organisation: ''
  bot:
    username: ''
    emailID: '' # The suffix given to Github email addresses <username>-<suffix>@users.noreply.github.com
    personalAccessToken:
      secretName: ''

prow:
  domain: ''
  presubmitsBucketName: ''
  tideStatusReconcilerBucketName: ''

dryRun: false

region: 'us-west-2'

ingress:
  create: false
  annotations: {}

crier:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/crier:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

deck:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/deck:v20221121-dfec9ce18d
  service:
    type: 'ClusterIP'
  serviceAccount:
    create: false
    name: ''

ghproxy:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/ghproxy:v20221121-dfec9ce18d
  volumeSize: 100

hook:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/hook:v20221121-dfec9ce18d
  service:
    type: 'ClusterIP'
  serviceAccount:
    create: false
    name: ''

horologium:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/horologium:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

prowControllerManager:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/prow-controller-manager:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

sinker:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/sinker:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

statusreconciler:
  image: gcr.io/k8s-prow/status-reconciler:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

tide:
  scrapeMetrics: false
  image: gcr.io/k8s-prow/tide:v20221121-dfec9ce18d
  serviceAccount:
    create: false
    name: ''

githubApp:
  secret:
   create: false
  appId: ''
  clientId: ''
  cert: ''

githubWebhookToken:
  secret:
    create: false
  hmac: ''

s3Credentials:
  secret:
    create: true

utility_images:
  clonerefs: gcr.io/k8s-prow/clonerefs:v20221121-dfec9ce18d
  entrypoint: gcr.io/k8s-prow/entrypoint:v20221121-dfec9ce18d
  initupload: gcr.io/k8s-prow/initupload:v20221121-dfec9ce18d
  sidecar: gcr.io/k8s-prow/sidecar:v20221121-dfec9ce18d
