  aws-controllers-k8s/code-generator:
  - name: unit-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["unit-test"] }}
        resources:
          limits:
            cpu: 2
            memory: "1024Mi"
          requests:
            cpu: 2
            memory: "1024Mi"
        command: ["make", "test"]

  - name: s3-olm-test
    decorate: true
    optional: true
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: runtime
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: s3-controller
      base_ref: main
      workdir: false
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["olm-test"] }}
        resources:
          limits:
            cpu: 2
            memory: "1024Mi"
          requests:
            cpu: 2
            memory: "1024Mi"
        env:
        - name: SERVICE
          value: "s3"
        - name: ACK_GENERATE_OLM
          value: "true"
        command: ["make", "build-controller"]

{% for service in code_gen_presubmit_services  %}
  - name: {{ service }}-controller-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: runtime
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: {{ service }}-controller
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        resources:
          limits:
            cpu: 4
          requests:
            cpu: 4
            memory: "2048Mi"
        securityContext:
          privileged: true
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "./cd/core-validator/generate-test-controller.sh"]

{% endfor %}