{% for service in aws_services  %}
  aws-controllers-k8s/{{ service }}-controller:
  - name: {{ service }}-kind-e2e
    decorate: true
    optional: false
    always_run: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 2
          limits:
            cpu: 8
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "make kind-test SERVICE=$SERVICE"]

  - name: {{ service }}-release-test
    decorate: true
    optional: false
    always_run: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        securityContext:
          privileged: true
        resources:
          requests:
            cpu: 2
          limits:
            cpu: 8
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "make kind-helm-test SERVICE=$SERVICE"]

  - name: {{ service }}-recommended-policy-test
    decorate: true
    optional: false
    always_run: true
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: public.ecr.aws/bitnami/aws-cli:2.2.43
        securityContext:
          runAsUser: 0
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["bash", "-c", "source ./scripts/iam-policy-test-runner.sh && assert_iam_policies"]

  - name: {{ service }}-unit-test
    decorate: true
    optional: false
    always_run: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["unit-test"] }}
        resources:
          limits:
            cpu: 2
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["make", "test"]

{% endfor %}