{% for service in aws_services  %}
  aws-controllers-k8s/{{ service }}-controller:
  - name: {{ service }}-kind-e2e
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        securityContext:
          privileged: true
        resources:
          limits:
            cpu: 8
          requests:
            cpu: 1
            memory: "500Mi"
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "make kind-test SERVICE=$SERVICE"]

  - name: {{ service }}-release-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        securityContext:
          privileged: true
        resources:
          limits:
            cpu: 8
          requests:
            cpu: 1
            memory: "500Mi"
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "make kind-helm-test SERVICE=$SERVICE"]

  - name: {{ service }}-recommended-policy-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        resources:
          limits:
            cpu: 2
          requests:
            cpu: 1
            memory: "500Mi"
        securityContext:
          runAsUser: 0
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["wrapper.sh", "bash", "-c", "make test-recommended-policy SERVICE=$SERVICE"]

  - name: {{ service }}-unit-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["unit-test"] }}
        resources:
          limits:
            cpu: 4
          requests:
            cpu: 1
            memory: "500Mi"
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["make", "test"]

  - name: {{ service }}-metadata-file-test
    decorate: true
    optional: false
    always_run: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["unit-test"] }}
        resources:
          limits:
            cpu: 250m
          requests:
            cpu: 250m
            memory: "256Mi"
        env:
        - name: SERVICE
          value: {{ service }}
        command: ["bash", "-c", "make test-metadata-file SERVICE=$SERVICE"]

{% endfor %}