  aws-controllers-k8s/test-infra:
{% for service in acktest_presubmit_services  %}
  - name: acktest-{{ service }}-e2e-tests
    decorate: true
    optional: false
    # only if src/acktest/ code changed
    run_if_changed: src/acktest/.*
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: {{ service }}-controller
      base_ref: main
      workdir: false
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        resources:
          limits:
            cpu: 8
          requests:
            cpu: 1
            memory: "500Mi"
        securityContext:
          privileged: true
        env:
        - name: SERVICE
          value: {{ service }}
        - name: LOCAL_ACKTEST_LIBRARY
          value: "true"
        command:
        - "wrapper.sh"
        - "bash"
        - "-c"
        - "make kind-test SERVICE=$SERVICE LOCAL_ACKTEST_LIBRARY=$LOCAL_ACKTEST_LIBRARY"
{% endfor %}