  aws-controllers-k8s/test-infra:
{% for service in acktest_presubmit_services  %}
  - name: acktest-{{ service }}-e2e-tests
    decorate: true
    optional: false
    # only if src/acktest/ code changed
    run_if_changed: ^(src/acktest/.*|requirements.txt)
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-test-config: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: {{ service }}-controller
      base_ref: main
      workdir: false
    spec:
      serviceAccountName: pre-submit-service-account
      containers:
      - image: {{ image_context.images["integration-test"] }}
        resources:
          limits:
            cpu: 8
            memory: "3072Mi"
          requests:
            cpu: 2
            memory: "3072Mi"
        securityContext:
          privileged: true
        env:
        - name: SERVICE
          value: {{ service }}
        - name: LOCAL_ACKTEST_LIBRARY
          value: "true"
        {% if service in carm_test_services %}
        - name: CARM_TESTS_ENABLED
          value: "true"
        {% endif %}
        command:
        - "wrapper.sh"
        - "bash"
        - "-c"
        - "make kind-test SERVICE=$SERVICE LOCAL_ACKTEST_LIBRARY=$LOCAL_ACKTEST_LIBRARY"
{% endfor %}