{% for service in aws_services  %}
  aws-controllers-k8s/{{ service }}-controller:
  - name: update-ack-chart
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    {% for other_service in aws_services %}
    {% if other_service != service %}
    - org: aws-controllers-k8s
      repo: {{ other_service }}-controller
      base_ref: main
    {% endif %}
    {% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["deploy"] }}
          resources:
            limits:
              cpu: 2
            requests:
              cpu: 1
              memory: "500Mi"
          env:
          - name: GITHUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: prowjob-github-pat-token
                key: token
          command: ["/bin/bash", "-c", "cd cd/ack-chart && ./update-chart.sh"]
    branches:
    - ^[0-9]+\.[0-9]+\.[0-9]+$

{% endfor %}
  aws-controllers-k8s/ack-chart:
  - name: ack-chart-release
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["deploy"] }}
          resources:
            limits:
              cpu: 1
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/bin/bash", "-c", "cd cd/ack-chart && ./upload-chart.sh"]
    branches:
    - ^[0-9]+\.[0-9]+\.[0-9]+$
