  aws-controllers-k8s/code-generator:
  - name: auto-generate-controllers
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-github-secrets: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: runtime
      base_ref: main
      workdir: false
{% for service in aws_services  %}
    - org: aws-controllers-k8s
      repo: {{ service }}-controller
      base_ref: main
      workdir: false
{% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["auto-generate-controllers"] }}
          resources:
            limits:
              cpu: 2
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/bin/bash", "-c", "./cd/auto-generate/auto-generate-controllers.sh"]
    branches: #supports tags too.
    - ^v[0-9]+\.[0-9]+\.[0-9]+$