{% for service in aws_services  %}
  aws-controllers-k8s/{{ service }}-controller:
  - name: {{ service }}-post-submit
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["deploy"] }}
          resources:
            limits:
              cpu: 2
            requests:
              cpu: 1
              memory: "500Mi"
          securityContext:
            privileged: true
          command: ["/bin/bash", "-c", "cd cd/scripts && ./release-controller.sh"]
    branches: #supports tags too.
    - ^v[0-9]+\.[0-9]+\.[0-9]+$
    - stable
{% if service in soak_test_on_release_service_names %}

  - name: {{ service }}-soak-on-release
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["soak-test"] }}
          resources:
            limits:
              cpu: 2
            requests:
              cpu: 1
              memory: "500Mi"
          securityContext:
            privileged: true
          command: ["/bin/bash", "-c", "cd soak/prow/scripts && ./soak-on-release.sh"]
    branches: #supports tags too.
    - ^v[0-9]+\.[0-9]+\.[0-9]+$
{% endif %}

  - name: {{ service }}-docs-release
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-github-secrets: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: community
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: runtime
      base_ref: main
    {% for other_service in aws_services if not other_service == service %}
    - org: aws-controllers-k8s
      repo: {{ other_service }}-controller
      base_ref: main
    {% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["docs"] }}
          resources:
            limits:
              cpu: 1
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/docs/build-docs.sh"]
    branches:
    - ^v[0-9]+\.[0-9]+\.[0-9]+$
    - stable

  - name: {{ service }}-controller-release-tag
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-github-secrets: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["controller-release-tag"] }}
          resources:
            limits:
              cpu: 1
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/bin/bash", "-c", "./cd/auto-generate/controller-release-tag.sh"]
    branches:
    - main

  - name: {{ service }}-controller-olm-bundle-pr
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-github-secrets: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: runtime
      base_ref: main
      workdir: false
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["olm-bundle-pr"] }}
          resources:
            limits:
              cpu: 1
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/bin/bash", "-c", "./cd/olm/olm-bundle-pr.sh"]
    branches:
    - ^v[0-9]+\.[0-9]+\.[0-9]+$

  - name: update-ack-chart
    decorate: true
    annotations:
      karpenter.sh/do-not-evict: "true"
    labels:
      preset-github-secrets: "true"
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    - org: aws-controllers-k8s
      repo: code-generator
      base_ref: main
      workdir: false
    - org: aws-controllers-k8s
      repo: ack-chart
      base_ref: main
      workdir: false
    {% for other_service in aws_services if not other_service == service %}
    - org: aws-controllers-k8s
      repo: {{ other_service }}-controller
      base_ref: main
      workdir: false
    {% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["deploy"] }}
          resources:
            limits:
              cpu: 2
            requests:
              cpu: 1
              memory: "500Mi"
          command: ["/bin/bash", "-c", "cd cd/ack-chart && ./update-chart.sh"]
    branches:
    - ^v[0-9]+\.[0-9]+\.[0-9]+$

{% endfor %}