{% for service in aws_services  %}
  aws-controllers-k8s/{{ service }}-controller:
  - name: {{ service }}-post-submit
    decorate: true
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: public.ecr.aws/m5q3e4b2/prow:prow-deploy-0.0.4
          securityContext:
            privileged: true
          command: ["/bin/bash", "-c", "cd cd/scripts && ./release-controller.sh"]
    branches: #supports tags too.
    - ^v[0-9]+\.[0-9]+\.[0-9]+$
    - stable
{% if service in soak_test_on_release_service_names %}

  - name: {{ service }}-soak-on-release
    decorate: true
    extra_refs:
    - org: aws-controllers-k8s
      repo: test-infra
      base_ref: main
      workdir: true
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: public.ecr.aws/m5q3e4b2/prow:prow-soak-0.0.2
          securityContext:
            privileged: true
          command: ["/bin/bash", "-c", "cd soak/prow/scripts && ./soak-on-release.sh"]
    branches: #supports tags too.
    - ^v[0-9]+\.[0-9]+\.[0-9]+$
{% endif %}

  - name: {{ service }}-docs-release
    decorate: true
    extra_refs:
    - org: aws-controllers-k8s
      repo: community
      base_ref: main
      workdir: true
    {% for other_service in aws_services if not other_service == service %}
    - org: aws-controllers-k8s
      repo: {{ other_service }}-controller
      base_ref: main
    {% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: public.ecr.aws/m5q3e4b2/prow:prow-docs-0.0.2
          env:
          - name: GITHUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: prowjob-github-token
                key: token
          - name: GITHUB_ACTOR
            value: "ack-bot"
          command: ["/docs/build-docs.sh"]
    branches:
    - ^v[0-9]+\.[0-9]+\.[0-9]+$

{% endfor %}