  aws-controllers-k8s/runtime:
  - name: runtime-docs-release
    decorate: true
    extra_refs:
    - org: aws-controllers-k8s
      repo: community
      base_ref: main
      workdir: true
    {% for service in aws_services %}
    - org: aws-controllers-k8s
      repo: {{ service }}-controller
      base_ref: main
    {% endfor %}
    spec:
      serviceAccountName: post-submit-service-account
      containers:
        - image: {{ image_context.images["docs"] }}
          env:
          - name: GITHUB_TOKEN
            valueFrom:
              secretKeyRef:
                name: prowjob-github-token
                key: cert
          - name: GITHUB_ACTOR
            value: "ack-bot"
          - name: GITHUB_EMAIL_ID
            value: "82905295"
          command: ["/docs/build-docs.sh"]
    run_if_changed: "apis/core/.*"
    branches:
    - main
