- name: label-sync
  labels:
    app: label-sync
  decorate: true
  interval: 6h
  annotations:
    description: Runs label_sync to synchronize GitHub repo labels with the label config defined in label_sync/labels.yaml.
  agent: kubernetes
  spec:
    containers:
    - name: label-sync
      image: gcr.io/k8s-prow/label_sync:v20221205-a1b0b85d88
      command:
      - label_sync
      args:
      - --config=/etc/config/labels.yaml
      - --confirm=true
      - --orgs=aws-controllers-k8s
      - --token=/etc/github/oauth
      - --github-endpoint=http://ghproxy
      - --github-endpoint=https://api.github.com
      - --debug
      volumeMounts:
      - name: github-token
        mountPath: /etc/github
        readOnly: true
      - name: config
        mountPath: /etc/config
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: prowjob-github-token
    - name: config
      configMap:
        name: label-config