- name: periodic-close
  interval: 6h
  decorate: true
  annotations:
    description: Closes rotten issues after 30d of inactivity
    karpenter.sh/do-not-evict: "true"
  labels:
    preset-github-secrets: "true"
  agent: kubernetes
  spec:
    serviceAccountName: periodic-service-account
    containers:
      - image: gcr.io/k8s-prow/commenter:v20210422-d12e80af3e
        resources:
          limits:
            cpu: 1
          requests:
            cpu: 1
            memory: "500Mi"
        command:
          - /app/robots/commenter/app.binary
        args:
          - --query=org:aws-controllers-k8s -label:lifecycle/frozen label:lifecycle/rotten
          - --updated=720h
          - --token=/etc/github/token
          - |-
            --comment=Rotten issues close after 30d of inactivity.
            Reopen the issue with `/reopen`.
            Provide feedback via https://github.com/aws-controllers-k8s/community.
            /close
          - --template
          - --confirm
          - --ceiling=10