- name: periodic-rotten
  interval: 6h
  decorate: true
  annotations:
    description: Moves stale issues to rotten state after 30d of inactivity
    karpenter.sh/do-not-evict: "true"
  labels:
    preset-github-secrets: "true"
  agent: kubernetes
  spec:
    serviceAccountName: periodic-service-account
    containers:
      - image: gcr.io/k8s-prow/commenter:v20210422-d12e80af3e
        resources:
          limits:
            cpu: 1
          requests:
            cpu: 1
            memory: "500Mi"
        command:
          - /app/robots/commenter/app.binary
        args:
          - --query=org:aws-controllers-k8s -label:lifecycle/frozen -label:lifecycle/rotten label:lifecycle/stale
          - --updated=720h
          - --token=/etc/github/token
          - |-
            --comment=Stale issues rot after 30d of inactivity.
            Mark the issue as fresh with `/remove-lifecycle rotten`.
            Rotten issues close after an additional 30d of inactivity.
            If this issue is safe to close now please do so with `/close`.
            Provide feedback via https://github.com/aws-controllers-k8s/community.
            /lifecycle rotten
          - --template
          - --confirm
          - --ceiling=10