apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: job-config
  namespace: prow
  behavior: create
  # Alias the file to be compatible with each of the deployments
  files:
  - config.yaml=jobs.yaml
- name: test-config
  namespace: test-pods
  behavior: create
  files:
  - test_config.yaml
- name: label-config
  namespace: test-pods
  behavior: create
  files:
  - labels.yaml